<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head><h1>Team Name: <%=@t%></h1>
 <body><p>Coach: <%=@co%></p>
 <p>Point Guard: <%=@pg%></p>
 <p>Shooting Guard: <%=@sg%></p>
 <p>Power Forward: <%=@pf%></p>
 <p>Small Forward: <%=@sf%></p>
 <p>Center: <%=@ce%></p>
 </body>
</html>


